WEB SCRAPPING WITH PYTHON

Download Pricing Data for all the companies of S&P 500 Stock Market Index using Yahoo Finance

In [32]:
import pandas as pd
import yfinance as yf

In [33]:
snp500url= "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [34]:
datatable = pd.read_html(snp500url)

In [35]:
datatable

[    Symbol              Security             GICS Sector  \
 0      MMM                    3M             Industrials
 1      AOS           A. O. Smith             Industrials
 2      ABT                Abbott             Health Care
 3     ABBV                AbbVie             Health Care
 4      ACN             Accenture  Information Technology
 ..     ...                   ...                     ...
 498    YUM           Yum! Brands  Consumer Discretionary
 499   ZBRA    Zebra Technologies  Information Technology
 500    ZBH         Zimmer Biomet             Health Care
 501   ZION  Zions Bancorporation              Financials
 502    ZTS                Zoetis             Health Care

                       GICS Sub-Industry    Headquarters Location  Date added  \
 0              Industrial Conglomerates    Saint Paul, Minnesota  1957-03-04
 1                     Building Products     Milwaukee, Wisconsin  2017-07-26
 2                 Health Care Equipment  North Chicago, Illinois  1957-03-04
 3                         Biotechnology  North Chicago, Illinois  2012-12-31
 4        IT Consulting & Other Services          Dublin, Ireland  2011-07-06
 ..                                  ...                      ...         ...
 498                         Restaurants     Louisville, Kentucky  1997-10-06
 499  Electronic Equipment & Instruments   Lincolnshire, Illinois  2019-12-23
 500               Health Care Equipment          Warsaw, Indiana  2001-08-07
 501                      Regional Banks     Salt Lake City, Utah  2001-06-22
 502                     Pharmaceuticals   Parsippany, New Jersey  2013-06-21

          CIK      Founded
 0      66740         1902
 1      91142         1916
 2       1800         1888
 3    1551152  2013 (1888)
 4    1467373         1989
 ..       ...          ...
 498  1041061         1997
 499   877212         1969
 500  1136869         1927
 501   109380         1873
 502  1555280         1952

 [503 rows x 8 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0    December 18, 2023   UBER                           Uber     SEE
 1    December 18, 2023    JBL                          Jabil     ALK
 2    December 18, 2023   BLDR           Builders FirstSource    SEDG
 3     October 18, 2023   HUBB                        Hubbell     OGN
 4     October 18, 2023   LULU            Lululemon Athletica    ATVI
 ..                 ...    ...                            ...     ...
 333       June 9, 1999    WLP                      Wellpoint     HPH
 334  December 11, 1998    FSR                        Firstar     LDW
 335  December 11, 1998    CCL                 Carnival Corp.     GRN
 336  December 11, 1998   CPWR                      Compuware     SUN
 337      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                \
                      Security
 0                  Sealed Air
 1            Alaska Air Group
 2                   SolarEdge
 3               Organon & Co.
 4         Activision Blizzard
 ..                        ...
 333  Harnischfeger Industries
 334                     Amoco
 335                General Re
 336                SunAmerica
 337                    USLife

                                                 Reason
                                                 Reason
 0                     Market capitalization change.[4]
 1                     Market capitalization change.[4]
 2                     Market capitalization change.[4]
 3                     Market capitalization change.[5]
 4    S&P 500 and S&P 100 constituent Microsoft acqu...
 ..                                                 ...
 333           Harnischfeger filed for bankruptcy.[252]
 334                           BP purchased Amoco.[253]
 335      Berkshire Hathaway purchased General Re.[253]
 336                     AIG purchased SunAmerica.[253]
 337                          AIG acquired USLife.[254]

 [338 rows x 6 columns]]

In [36]:
len(datatable)

2

In [37]:
sp_data = datatable[0]

In [38]:
sp_data.head(10)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
5,ADBE,Adobe Inc.,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982
6,AMD,Advanced Micro Devices,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488,1969
7,AES,AES Corporation,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981
8,AFL,Aflac,Financials,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955
9,A,Agilent Technologies,Health Care,Life Sciences Tools & Services,"Santa Clara, California",2000-06-05,1090872,1999

In [39]:
sp_data['Symbol'].values

array(['MMM', 'AOS', 'ABT', 'ABBV', 'ACN', 'ADBE', 'AMD', 'AES', 'AFL',
       'A', 'APD', 'ABNB', 'AKAM', 'ALB', 'ARE', 'ALGN', 'ALLE', 'LNT',
       'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN', 'AMCR', 'AEE', 'AAL', 'AEP',
       'AXP', 'AIG', 'AMT', 'AWK', 'AMP', 'AME', 'AMGN', 'APH', 'ADI',
       'ANSS', 'AON', 'APA', 'AAPL', 'AMAT', 'APTV', 'ACGL', 'ADM',
       'ANET', 'AJG', 'AIZ', 'T', 'ATO', 'ADSK', 'ADP', 'AZO', 'AVB',
       'AVY', 'AXON', 'BKR', 'BALL', 'BAC', 'BK', 'BBWI', 'BAX', 'BDX',
       'BRK.B', 'BBY', 'BIO', 'TECH', 'BIIB', 'BLK', 'BX', 'BA', 'BKNG',
       'BWA', 'BXP', 'BSX', 'BMY', 'AVGO', 'BR', 'BRO', 'BF.B', 'BLDR',
       'BG', 'CDNS', 'CZR', 'CPT', 'CPB', 'COF', 'CAH', 'KMX', 'CCL',
       'CARR', 'CTLT', 'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'COR', 'CNC',
       'CNP', 'CF', 'CHRW', 'CRL', 'SCHW', 'CHTR', 'CVX', 'CMG', 'CB',
       'CHD', 'CI', 'CINF', 'CTAS', 'CSCO', 'C', 'CFG', 'CLX', 'CME',
       'CMS', 'KO', 'CTSH', 'CL', 'CMCSA', 'CMA', 'CAG', 'COP', 'ED',
       'STZ', 'CEG', 'COO', 'CPRT', 'GLW', 'CTVA', 'CSGP', 'COST', 'CTRA',
       'CCI', 'CSX', 'CMI', 'CVS', 'DHR', 'DRI', 'DVA', 'DAY', 'DE',
       'DAL', 'XRAY', 'DVN', 'DXCM', 'FANG', 'DLR', 'DFS', 'DG', 'DLTR',
       'D', 'DPZ', 'DOV', 'DOW', 'DHI', 'DTE', 'DUK', 'DD', 'EMN', 'ETN',
       'EBAY', 'ECL', 'EIX', 'EW', 'EA', 'ELV', 'LLY', 'EMR', 'ENPH',
       'ETR', 'EOG', 'EPAM', 'EQT', 'EFX', 'EQIX', 'EQR', 'ESS', 'EL',
       'ETSY', 'EG', 'EVRG', 'ES', 'EXC', 'EXPE', 'EXPD', 'EXR', 'XOM',
       'FFIV', 'FDS', 'FICO', 'FAST', 'FRT', 'FDX', 'FIS', 'FITB', 'FSLR',
       'FE', 'FI', 'FLT', 'FMC', 'F', 'FTNT', 'FTV', 'FOXA', 'FOX', 'BEN',
       'FCX', 'GRMN', 'IT', 'GEHC', 'GEN', 'GNRC', 'GD', 'GE', 'GIS',
       'GM', 'GPC', 'GILD', 'GPN', 'GL', 'GS', 'HAL', 'HIG', 'HAS', 'HCA',
       'DOC', 'HSIC', 'HSY', 'HES', 'HPE', 'HLT', 'HOLX', 'HD', 'HON',
       'HRL', 'HST', 'HWM', 'HPQ', 'HUBB', 'HUM', 'HBAN', 'HII', 'IBM',
       'IEX', 'IDXX', 'ITW', 'ILMN', 'INCY', 'IR', 'PODD', 'INTC', 'ICE',
       'IFF', 'IP', 'IPG', 'INTU', 'ISRG', 'IVZ', 'INVH', 'IQV', 'IRM',
       'JBHT', 'JBL', 'JKHY', 'J', 'JNJ', 'JCI', 'JPM', 'JNPR', 'K',
       'KVUE', 'KDP', 'KEY', 'KEYS', 'KMB', 'KIM', 'KMI', 'KLAC', 'KHC',
       'KR', 'LHX', 'LH', 'LRCX', 'LW', 'LVS', 'LDOS', 'LEN', 'LIN',
       'LYV', 'LKQ', 'LMT', 'L', 'LOW', 'LULU', 'LYB', 'MTB', 'MRO',
       'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MTCH', 'MKC',
       'MCD', 'MCK', 'MDT', 'MRK', 'META', 'MET', 'MTD', 'MGM', 'MCHP',
       'MU', 'MSFT', 'MAA', 'MRNA', 'MHK', 'MOH', 'TAP', 'MDLZ', 'MPWR',
       'MNST', 'MCO', 'MS', 'MOS', 'MSI', 'MSCI', 'NDAQ', 'NTAP', 'NFLX',
       'NEM', 'NWSA', 'NWS', 'NEE', 'NKE', 'NI', 'NDSN', 'NSC', 'NTRS',
       'NOC', 'NCLH', 'NRG', 'NUE', 'NVDA', 'NVR', 'NXPI', 'ORLY', 'OXY',
       'ODFL', 'OMC', 'ON', 'OKE', 'ORCL', 'OTIS', 'PCAR', 'PKG', 'PANW',
       'PARA', 'PH', 'PAYX', 'PAYC', 'PYPL', 'PNR', 'PEP', 'PFE', 'PCG',
       'PM', 'PSX', 'PNW', 'PXD', 'PNC', 'POOL', 'PPG', 'PPL', 'PFG',
       'PG', 'PGR', 'PLD', 'PRU', 'PEG', 'PTC', 'PSA', 'PHM', 'QRVO',
       'PWR', 'QCOM', 'DGX', 'RL', 'RJF', 'RTX', 'O', 'REG', 'REGN', 'RF',
       'RSG', 'RMD', 'RVTY', 'RHI', 'ROK', 'ROL', 'ROP', 'ROST', 'RCL',
       'SPGI', 'CRM', 'SBAC', 'SLB', 'STX', 'SRE', 'NOW', 'SHW', 'SPG',
       'SWKS', 'SJM', 'SNA', 'SO', 'LUV', 'SWK', 'SBUX', 'STT', 'STLD',
       'STE', 'SYK', 'SYF', 'SNPS', 'SYY', 'TMUS', 'TROW', 'TTWO', 'TPR',
       'TRGP', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TSLA', 'TXN', 'TXT',
       'TMO', 'TJX', 'TSCO', 'TT', 'TDG', 'TRV', 'TRMB', 'TFC', 'TYL',
       'TSN', 'USB', 'UBER', 'UDR', 'ULTA', 'UNP', 'UAL', 'UPS', 'URI',
       'UNH', 'UHS', 'VLO', 'VTR', 'VLTO', 'VRSN', 'VRSK', 'VZ', 'VRTX',
       'VFC', 'VTRS', 'VICI', 'V', 'VMC', 'WRB', 'WAB', 'WBA', 'WMT',
       'DIS', 'WBD', 'WM', 'WAT', 'WEC', 'WFC', 'WELL', 'WST', 'WDC',
       'WRK', 'WY', 'WHR', 'WMB', 'WTW', 'GWW', 'WYNN', 'XEL', 'XYL',
       'YUM', 'ZBRA', 'ZBH', 'ZION', 'ZTS'], dtype=object)

In [60]:
#Lets Get this array of symbols in a list.
sp_tickers= datatable[0]['Symbol'].tolist()

In [61]:
#There is another way to get these data to list
#sp_tickers= list(sp_data['Symbol'].values)

In [62]:
sp_tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BK',
 'BBWI',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CHRW',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WRB',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [46]:
len(sp_tickers)

503

In [51]:
yf.download('MMM', start = '2024-01-01', end = '2024-01-31')

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-02,108.620003,110.660004,108.449997,110.000000,108.202766,2776800
2024-01-03,109.230003,109.459999,106.800003,107.790001,106.028877,2966200
2024-01-04,108.080002,109.339996,107.709999,108.169998,106.402664,2775900
2024-01-05,107.980003,109.489998,107.550003,108.589996,106.815804,1665200
2024-01-08,108.260002,108.959999,107.589996,108.860001,107.081398,2119600
2024-01-09,108.199997,109.300003,107.349998,109.099998,107.317474,2458000
2024-01-10,109.019997,109.120003,107.839996,108.300003,106.530548,1999800
2024-01-11,108.300003,109.000000,107.209999,108.919998,107.140411,2685800
2024-01-12,109.419998,110.160004,107.889999,108.120003,106.353485,2918500
2024-01-16,107.669998,108.070000,106.680000,107.639999,105.881325,3036400
2024-01-17,106.849998,107.660004,105.529999,106.080002,104.346817,2639500
2024-01-18,106.330002,106.739998,105.339996,106.440002,104.700935,2493100
2024-01-19,106.739998,108.360001,105.099998,107.760002,105.999367,3269500
2024-01-22,108.500000,109.410004,107.400002,108.019997,106.255112,4916100
2024-01-23,100.860001,100.860001,94.110001,96.099998,94.529869,27210900
2024-01-24,96.639999,97.040001,92.730003,93.239998,91.716599,9366600
2024-01-25,93.779999,96.279999,93.610001,95.980003,94.411835,6122900
2024-01-26,96.220001,96.900002,95.790001,95.989998,94.421669,3720200
2024-01-29,96.000000,96.889999,95.440002,96.379997,94.805298,3800000
2024-01-30,96.169998,96.510002,94.779999,95.750000,94.185593,3200500

In [52]:
sp_prices = yf.download(sp_tickers, start='2024-01-01', end='2024-01-10')['Adj Close']

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-01-01 -> 2024-01-10)')

In [53]:
sp_prices

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-01-02,138.750000,13.44,185.403412,158.307480,134.479996,109.321869,75.550003,345.657806,580.070007,192.672104,...,94.376312,63.470001,101.417458,35.630001,113.339424,128.387482,121.389999,267.980011,43.679974,196.125183
2024-01-03,131.160004,12.95,184.015198,158.941422,133.419998,108.993454,76.940002,336.690552,571.789978,188.073776,...,93.807663,63.580002,102.269547,34.820000,111.235565,128.457153,120.470001,252.520004,41.562275,192.493408
2024-01-04,131.000000,13.09,181.678177,159.931961,133.720001,110.446442,77.470001,335.863556,567.049988,185.197327,...,93.987236,63.730000,101.377831,35.680000,112.003326,128.049179,120.199997,252.970001,42.195606,193.600891
2024-01-05,130.559998,13.60,180.949097,160.605515,135.979996,110.267311,76.809998,335.395264,564.599976,185.675079,...,95.423836,63.730000,101.684975,35.380001,111.823853,127.700920,119.980003,252.690002,43.590912,194.409073
2024-01-08,133.380005,14.58,185.323517,159.902237,140.080002,111.859612,77.120003,339.111694,580.549988,188.093674,...,96.820526,63.580002,99.990715,35.900002,112.521812,127.999428,121.970001,261.089996,44.075806,195.706116
2024-01-09,130.679993,14.38,184.904053,160.773911,139.529999,112.188026,76.150002,341.502960,586.200012,188.870010,...,95.034760,63.270000,98.752228,36.529999,111.783966,127.581520,121.870003,256.440002,43.581017,195.496597

In [54]:
sp_prices.isna().any()

Ticker
A       False
AAL     False
AAPL    False
ABBV    False
ABNB    False
        ...
YUM     False
ZBH     False
ZBRA    False
ZION    False
ZTS     False
Length: 503, dtype: bool

In [55]:
sp_prices.loc[:, sp_prices.isna().any()]

Ticker      BF.B  BRK.B
Date
2024-01-02   NaN    NaN
2024-01-03   NaN    NaN
2024-01-04   NaN    NaN
2024-01-05   NaN    NaN
2024-01-08   NaN    NaN
2024-01-09   NaN    NaN

In [57]:
yf.download('BF-B')['Adj Close']

[*********************100%%**********************]  1 of 1 completed

Date
1980-03-17     0.196183
1980-03-18     0.196183
1980-03-19     0.198807
1980-03-20     0.199463
1980-03-21     0.196839
                ...
2024-02-28    58.490002
2024-02-29    60.230000
2024-03-01    60.369999
2024-03-04    60.259998
2024-03-05    60.845001
Name: Adj Close, Length: 11085, dtype: float64

In [58]:
yf.download('BRK-B')['Adj Close']

[*********************100%%**********************]  1 of 1 completed

Date
1996-05-09     23.200001
1996-05-10     24.000000
1996-05-13     23.900000
1996-05-14     23.600000
1996-05-15     23.200001
                 ...
2024-02-28    412.140015
2024-02-29    409.399994
2024-03-01    407.109985
2024-03-04    403.390015
2024-03-05    399.454987
Name: Adj Close, Length: 7002, dtype: float64

In [67]:
#we have to get these tickers name updated in the list hence.. For Loop

for i in range(len(sp_tickers)):
    if sp_tickers[i]=='BF.B':
        sp_tickers[i] = 'BF-B'
    elif sp_tickers[i] == 'BRK.B':
        sp_tickers[i] = 'BRK-B'

In [69]:
'BRK-B' in sp_tickers
'BF-B' in sp_tickers

True

In [70]:
sp_prices = yf.download(sp_tickers, start='2024-01-01', end='2024-01-10')['Adj Close']

[*********************100%%**********************]  503 of 503 completed

In [71]:
sp_prices

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-01-02,138.750000,13.44,185.403412,158.307480,134.479996,109.321869,75.550003,345.657806,580.070007,192.672104,...,94.376312,63.470001,101.417458,35.630001,113.339424,128.387482,121.389999,267.980011,43.679974,196.125183
2024-01-03,131.160004,12.95,184.015198,158.941422,133.419998,108.993454,76.940002,336.690552,571.789978,188.073776,...,93.807663,63.580002,102.269547,34.820000,111.235565,128.457153,120.470001,252.520004,41.562275,192.493408
2024-01-04,131.000000,13.09,181.678177,159.931961,133.720001,110.446442,77.470001,335.863556,567.049988,185.197327,...,93.987236,63.730000,101.377831,35.680000,112.003326,128.049179,120.199997,252.970001,42.195606,193.600891
2024-01-05,130.559998,13.60,180.949097,160.605515,135.979996,110.267311,76.809998,335.395264,564.599976,185.675079,...,95.423836,63.730000,101.684975,35.380001,111.823853,127.700920,119.980003,252.690002,43.590912,194.409073
2024-01-08,133.380005,14.58,185.323517,159.902237,140.080002,111.859612,77.120003,339.111694,580.549988,188.093674,...,96.820526,63.580002,99.990715,35.900002,112.521812,127.999428,121.970001,261.089996,44.075806,195.706116
2024-01-09,130.679993,14.38,184.904053,160.773911,139.529999,112.188026,76.150002,341.502960,586.200012,188.870010,...,95.034760,63.270000,98.752228,36.529999,111.783966,127.581520,121.870003,256.440002,43.581017,195.496597

In [72]:
sp_prices[['BRK-B','BF-B']]

Ticker           BRK-B       BF-B
Date
2024-01-02  362.459991  56.849998
2024-01-03  366.750000  55.770000
2024-01-04  363.679993  55.840000
2024-01-05  365.589996  55.090000
2024-01-08  368.179993  55.689999
2024-01-09  366.899994  55.560001